<a href="https://colab.research.google.com/github/lanigaines/Classroom/blob/master/ch00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
# Ask the user to input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit using the given formula
fahrenheit = (9/5) * celsius + 32

# Display the result
print(f'Temperature in Fahrenheit: {fahrenheit:.2f}')

Enter temperature in Celsius: 23
Temperature in Fahrenheit: 73.40

In [62]:
# Ask for user input
male_students = int(input("Enter the number of male students: "))
female_students = int(input("Enter the number of female students: "))
non_binary_students = int(input("Enter the number of non-binary students: "))

# Calculate total number of students
total_students = male_students + female_students + non_binary_students

# Calculate percentages
m_perc = (male_students / total_students) * 100
f_perc = (female_students / total_students) * 100
nb_perc = (non_binary_students / total_students) * 100

# Print results
print(f"The total number of students: {total_students}")
print(f"The number of males, females and non-binary: {male_students} {female_students} {non_binary_students}")
print(f"The percentage of males, females and non-binary: {m_perc:.2f}% {f_perc:.2f}% {nb_perc:.2f}%")

Enter the number of male students: 40
Enter the number of female students: 40
Enter the number of non-binary students: 20
The total number of students: 100
The number of males, females and non-binary: 40 40 20
The percentage of males, females and non-binary: 40.00% 40.00% 20.00%

In [57]:
original_str = "Python Programming"

# 1) Extract "Python" from original string with index slicing
sub1 = original_str[:6]  # extract the first substring 'Python'

# 2) Extract "Programming" from original string with index slicing
sub2 = original_str[7:]  # extract the second substring 'Programming'

# 3) Using the string concatenation('+'),
# merge two substrings sub2 and sub1 and save it to "merged_str"
merged_str = sub2 + " " + sub1

# Print results
print(sub2)
print(sub1)
print(merged_str)

Programming
Python
Programming Python

In [56]:
# String examples
firstName = "Kyu"
lastName = "Lee"

# String concatenation
fullName = firstName + " " + lastName
print("Full name:", fullName)

# String length
print("Length of first name:", len(firstName))

# String replication
repeatedName = firstName * 3
print("Repeated name:", repeatedName)

# Demonstrating quotation usage
singleQuotes = 'Alice'
doubleQuotes = "Bob"
print("Single quotes:", singleQuotes)
print("Double quotes:", doubleQuotes)

# String concatenation example
greeting = singleQuotes + " + " + doubleQuotes
print("Greeting:", greeting)

# Uncommenting the following lines would cause errors:
# error1 = 'Alice' + 42
# error2 = 'Alice' + 'Bob'

Full name: Kyu Lee
Length of first name: 3
Repeated name: KyuKyuKyu
Single quotes: Alice
Double quotes: Bob
Greeting: Alice + Bob

In [55]:
# Input three integer values
val1 = int(input("Enter the first integer value: "))
val2 = int(input("Enter the second integer value: "))
val3 = int(input("Enter the third integer value: "))

# Calculate the total and average
total = val1 + val2 + val3
average = total / 3

# Print the results
print(f"Values: {val1} {val2} {val3}")
print(f"Total: {total}")
print(f"Average: {average:.2f}")

Enter the first integer value: 100
Enter the second integer value: 90
Enter the third integer value: 110
Values: 100 90 110
Total: 300
Average: 100.00

In [54]:
value = 10
print(f'The value is {value}')
print(f'The value is {value:20}')

fvalue = 12.34
print(f'The value is {fvalue:>10}')
print(f'The value is {fvalue:.5f}')

strval = "Python Programming"
print(f'The string value is {strval:>50}')

The value is 10
The value is                   10
The value is      12.34
The value is 12.34000
The string value is                                 Python Programming

In [53]:
# Correct usage of .format()
print('{0} and {1}'.format('spam', 'eggs'))
print('{1} and {0}'.format('spam', 'eggs'))

# Fixing the mismatched curly braces
print('This {food} is {adjective}'.format(food='spam', adjective='absolutely horrible'))

# Assuming num1, num2, and num3 are defined, this line is correct
# num1, num2, num3 = 1, 22, 333  # Uncomment and adjust these values as needed
print('{0:2d} {1:3d} {2:4d}'.format(num1, num2, num3))

# This line is correct
print('The average is {0:.2f}'.format(59.999999))

spam and eggs
eggs and spam
This spam is absolutely horrible
 1   4    7
The average is 60.00

In [48]:
val1 = 100 # Fix the typo in the variable name
val2 = 1234.5678
strval = "COMSC140"

print ("Interger value: %d, String Value: %s, Floating Value:%.2f" % (val1, strval, val2)) # Use %s for string formatting

Interger value: 100, String Value: COMSC140, Floating Value:1234.57

In [47]:
val1= 1000
print ("Value 1 is %d" % (val1))

Value 1 is 1000

In [42]:
#? New Line Char.
print ('one\n two n three \n')

one
 two n three

In [40]:
print ("How to print a special character like ' ")
print (" ' ")
print (' " ')
print(' " ') # This will give an error
print(' " ') # This will give an error

How to print a special character like '
 '
 "
 "
 "

In [39]:
num = input ('Enter your number') #
print (num)
sum = int (num )+ 100
print (sum)

Enter your number20
20
120

In [37]:
original_price = int(input("Enter the original price (dollar): "))
rate = int(input("Enter the discount rate (percentage): "))

# Calculate discount amount
discount_amount = original_price * (rate / 100)

# Calculate final price
final_price = original_price - discount_amount

# Print results
print(f"Original Price : ${original_price}")
print(f"Discount Amount : ${discount_amount:.2f}")
print(f"The final price : ${final_price:.2f}")

Enter the original price (dollar): 200
Enter the discount rate (percentage): 20
Original Price : $200
Discount Amount : $40.00
The final price : $160.00

In [28]:
math.floor(1.3) # 1.0
math.floor(-1.3) # -2.0)

-2

In [27]:
import math
print (math.cos(45))
import random
print (random.randint(1,10))

0.5253219888177297
5

In [26]:
"""
Multiple line comments
This section is for comments
All lines are ignored by Python Interpreter
"""
print ("Code starts from here")

Code starts from here

In [25]:
num1 = 10
print (num1)

10

In [41]:
print ('one')
print ('two')
print ('three')
print ('one', end=' ')
print ('two', end=' ')
print ('three', end=' ')
print ('one', 'two', 'three', sep='/'
       )

one
two
three
one two three one/two/three

In [23]:
print (format(12345.6789, '.2%'))
print (format(12345.6789, 'e'))
print (format(12345.6789, '.2e'))
1.23e+04

1234567.89%
1.234568e+04
1.23e+04

12300.0

In [20]:
print (format(12345.6789, 'e'))
print (format(12345.6789, '.2e'))
1.234568e+04
1.23e+04

1.234568e+04
1.23e+04

12300.0

In [19]:
#? Inserting comma sererator
print (format(123456789.12345, ',.2f'))
123,456,789.12

123,456,789.12

(123, 456, 789.12)

In [18]:
print (format(123456789, '15d'))
print (format(123456789, '.2f'))
123456789
12345.68

      123456789
123456789.00

12345.68

In [13]:
reg_hours = 40
reg_rate = 18.25
ov_rate = 27.78
overtime_hours = 10
regular_wage = 40
overtime_wage = 10
total_wage = 0

# Input
hours_worked = float(input("Enter the number of hours worked: "))

# Calculate
if hours_worked <= reg_hours:
    total_wage = hours_worked * reg_rate
    overtime_wage = 0
else:
    regular_wage = reg_hours * reg_rate
    overtime_hours = hours_worked - reg_hours
    overtime_wage = overtime_hours * ov_rate
total_wage = regular_wage + overtime_wage

# Output
print("Total wage: $", total_wage)
print("Regular wage: $", regular_wage)
print("Overtime wage: $", overtime_wage)

Enter the number of hours worked: 95
Total wage: $ 2257.9
Regular wage: $ 730.0
Overtime wage: $ 1527.9

In [38]:
print ( 'Hello World')

 #The output of the above code is:
 #Hello World

Hello World

# <p style="font-family: Arial; font-size:1.4em;color:gold;"> Jupyter Notebook </p>
<img src="https://miro.medium.com/v2/resize:fit:1400/1*RzxZF0mmXAsMLrIzAWYDSg.png" alt="Drawing" style="width: 400px;"/>

### Please run the below code by clicking the small "play" button on the left of the cell

In [15]:
print('Hello World')
b = 2

Hello World

In [16]:
# https://colab.research.google.com/drive/1UeK92P393sldbSlZeclKOpKzp3LaRBN9#scrollTo=r6FtYXf3bukJ&line=2&uniqifier=1

In [17]:
print ('Hello World')

Hello World

# <p style="font-family: Arial; font-size:1.4em;color:gold;"> Jupyter Notebook </p>
<img src="https://miro.medium.com/v2/resize:fit:1400/1*RzxZF0mmXAsMLrIzAWYDSg.png" alt="Drawing" style="width: 400px;"/>

# <p style="font-family: Arial; font-size:1.4em;color:gold;"> Jupyter Notebook </p>
<img src="https://miro.medium.com/v2/resize:fit:1400/1*RzxZF0mmXAsMLrIzAWYDSg.png" ing" style="width: 400px;"/>alt="Draw

# Task 1. Complete the following instructions

### Press "ESC"
### Create a "Code Cell" by typing "b"
### Make the same code to print "Hello World"
### Run it
### Try to move the cell by "alt - up / down" in VS Code or "Ctrl-M J/K" in Google Colab


# Task 2
### Create a "Markdown Cell"
### Add a image in your "Markdown Cell" (Refer to the 1st Cell in this notebook file)